body {
  padding-top: 100px;
}

.page_blog .navbar-nav #blog_nav a,
.page_login .navbar-nav #login_nav a,
.page_register .navbar-nav #register_nav a {
    color: #ffffff;
    background-color: #080808;
}
