{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form|bootstrap }}
<div class="images">
{{ images_form|bootstrap }}
</div>

<p><input type="button" value="Add Image" id="add_more" class="btn btn-info"></p>
<p><input type="submit" class="btn btn-primary"></p>
</form>
<p></p>

<script>
    $('#add_more').click(function() {
        cloneMore('.images .form-group:last', 'form');
    });

    function cloneMore(selector, type) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + type + '-TOTAL_FORMS').val();
      newElement.find(':input').each(function() {
          var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
          var id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      newElement.find('label').each(function() {
          var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
          $(this).attr('for', newFor);
      });
      total++;
      $('#id_' + type + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
    }
</script>
{% endblock %}
